<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
<!--    <p th:text="'내 이름은 ' + ${name}">.</p>-->
<!--    <p th:text="'내 나이는 ' + ${age}">.</p>-->

    <p th:text="'이름 : ' + ${name}"></p>
    <p th:text="'성별 : ' + ${gender}"></p>
    <p th:text="'생년월일 : ' + ${year} + '-' + ${month} + '-' + ${day}"></p>
    관심사 :
    <span th:each="interest : ${interests}">
        <span th:text="${interest}"> </span>
    </span>
</body>
</html>